<div id="my-account">
    <h1>Profil utilisateur</h1>
    <form [formGroup]="profileForm">
        <mat-form-field appearance="outline">
            <mat-label>Nom d'utilisateur</mat-label>
            <input matInput formControlName="username"/>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email"/>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Changer de mot de passe</mat-label>
            <input
                    [type]="hide ? 'password' : 'text'"
                    formControlName="password"
                    matInput
                    placeholder="Nouveau mot de passe"
                    type="password"
            />
            <button
                    (click)="hide = !hide"
                    [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide"
                    mat-icon-button
                    matSuffix
            >
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
        </mat-form-field>
        <div class="pwd-check" *ngIf="passwordFormField?.dirty && this.profileForm.get('password')!.value != ''">
            <span class="pwd-incorrect" [ngClass]="{'pwd-correct': passwordFormField?.value?.match('^(?=.*[A-Z])')}">
                Au moins une lettre majuscule.
            </span>
            <span class="pwd-incorrect" [ngClass]="{'pwd-correct': passwordFormField?.value?.match('(?=.*[a-z])')}">
                Au moins une lettre minuscule.
            </span>
            <span class="pwd-incorrect" [ngClass]="{'pwd-correct': passwordFormField?.value?.match('(.*[0-9].*)')}">
                Au moins un chiffre.
            </span>
            <span class="pwd-incorrect" [ngClass]="{'pwd-correct': passwordFormField?.value?.match('(?=[^!@#$%^&*]*[!@#$%^&*])')}">
                Au moins un caractère spécial. (!@#$%^&*)
            </span>
            <span class="pwd-incorrect" [ngClass]="{'pwd-correct': passwordFormField?.value?.match('.{8,}')}">
                Au moins 8 caractères.
            </span>
        </div>
        <button (click)="save()" mat-raised-button color="primary" type="submit" [disabled]="profileForm.invalid">
            Sauvegarder
        </button>
        <button id="logout" (click)="logOut()">Se déconnecter</button>
    </form>
    <hr>
    <h1>Abonnements</h1>
    <div class="subscriptions">
        <mat-card *ngFor="let sub of subscriptions" class="topic">
            <mat-card-header>
                <mat-card-title>{{ sub.topic.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{ sub.topic.description }}</p>
            </mat-card-content>
            <button (click)="unsubscribe(sub)" class="subscribe-btn" color="primary" mat-raised-button>
                Se désabonner
            </button>
        </mat-card>
    </div>
</div>