.register {
    margin: 40px auto auto;
    width: 70%;
    max-width: 400px;
}

.register > mat-card {
    border: none;
    box-shadow: none;
}

mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
}

mat-form-field {
    width: 100%;
}

.register-form {
    margin-top: 20px;
}

.register-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: fit-content;
}