<div id="form-article">
    <div class="top-page">
        <a routerLink="/article">
            <mat-icon>keyboard_backspace</mat-icon>
            Retour
        </a>
        <h1>Créer un article</h1>
    </div>
    <form [formGroup]="articleForm" (ngSubmit)="submit()">
        <mat-form-field appearance="outline">
            <mat-label>Thème</mat-label>
            <mat-select formControlName="topic">
                <mat-option *ngFor="let topic of selectedTopic" [value]="topic.id">{{topic.title}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Titre</mat-label>
            <input type="text" matInput rows="8" formControlName="title">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex>
            <mat-label>Contenu de l'article</mat-label>
            <textarea matInput rows="8" formControlName=content></textarea>
        </mat-form-field>

        <button *ngIf="!onUpdate" mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">Publier</button>
        <button *ngIf="onUpdate" mat-raised-button color="primary" type="submit" [disabled]="articleForm.invalid">Mettre à jour</button>
    </form>
</div>